[user]
  name   = Camille
  email  = you@example.com
[github]
  user   = camilleatwork
[alias]
  a      = add
  ca     = commit -a
  cam    = commit -am
  cm     = commit -m
  s      = status
  p      = push
  pom    = push origin master
  puom   = pull origin master
  cob    = checkout -b
  co     = checkout
  fp     = fetch --prune --all
 [init]
	defaultBranch = main